<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Chart</title>
</head>
<body>
    <h1>{{ student.name }}</h1>
    <a href="{{ url_for('index') }}">Back to Student List</a>
    <hr>
    <ul class="studentinfo">
        <li>Lessons Completed: {{ student.lessons_taken }}</li>
        <li>Lessons Credited: {{ student.lessons_credited }}</li>
        <li>Schedule: {{ student.schedule | join(', ') }}</li>
        <li>General Notes: {{ student.general_notes }}</li>
    </ul>
    <hr>
    <h2>Update Student Information</h2>
    <form action="/update_student/{{ student.id }}" method="post">
        <label for="student-name">Name:</label><input type="text" id="student-name" name="name" value="{{ student.name }}">
        <label for="student-meeting-link">Google Meet Link:</label><input type="text" id="student-meeting-link" name="meeting_link" value="{{ student.meeting_link }}">
        <label for="student-schedule">Schedule (comma-separated):</label><input type="text" id="student-schedule" name="schedule" value="{{ student.schedule | join(', ') }}">
        <label for="student-general-notes">General Notes:</label><textarea id="student-general-notes" name="general_notes">{{ student.general_notes }}</textarea>
        <button type="submit">Update</button>
    </form>
    <hr>
    <h2>Scheduled Lessons</h2>
        {% for lesson in scheduled_lessons %}
        <p><a href="{{ url_for('lesson_planner_edit_lesson', student_id=student.id, lesson_id=lesson.id) }}">Edit Lesson on {{ lesson.lesson_date }}</a></p>
        <ul>
            <li>Lesson Date and Time: {{ lesson.lesson_date }}</li>
            <li>Notes: {{ lesson.lesson_notes }}</li>
            <li>Work: {{ lesson.lesson_work }}</li>
        
        </ul>
        {% endfor %}
    <hr>
    <h2>Record Lesson</h2>
    <form action="/record_lesson/{{ student.id }}" method="post">
        <label for="which-lesson">Which Lesson:</label><select id="which-lesson" required name="lesson_id">
            {% for lesson in scheduled_lessons %}
                <option value="{{ lesson.id }}">{{ lesson.lesson_date }}</option>
            {% endfor %}
        </select>
        <li><label for="lesson-duration">Duration:</label><input type="range" id="lesson-duration" name="lesson_duration" min="0" max="2"></li>
        <li><label for="post_lesson-notes">Post-Lesson Notes:</label><textarea type="text" id="post_lesson-notes" name="post_lesson_notes"></textarea></li>
        <li><button type="submit">Submit</button></li>
    </form>
    <hr>
    <h2>Lesson History</h2>

    {% for lesson in past_lessons %}
        <div class="lesson-history">
            <h3><a href="{{ url_for('lesson_planner_edit_lesson', student_id=student.id, lesson_id=lesson.id) }}">[Edit]</a> Lesson of {{ lesson.lesson_date }}</h3>
            <p>Duration: {{ lesson.lesson_duration }} hours</p>
            <p>Post-Lesson Notes: {{ lesson.post_lesson_notes }}</p>
            <p>Work: {{ lesson.lesson_work }}</p>
            <p>Pre-Lesson Notes: {{ lesson.lesson_notes }}</p>
        </div>
    {% endfor %}
</body>
</html>