<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Header{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>
<body>
    <div class="nav">
        <a class="nav-link" href="{{ url_for('students.index') }}">Tutoring Home</a><br>
        <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a><br>
        <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a><br>
        <p class="nav-link">Contact:<br> <a href="mailto:ethan.nguyen.tutoring@gmail.com">ethan.nguyen.tutoring@gmail.com</a></p>
        <a class="nav-link" href="{{ url_for('static.home')}}">Home</a><br>
        <a class="nav-link" href="{{ url_for('static.about_me') }}">About me</a><br>
        <a class="nav-link" href="{{ url_for('static.policies') }}">Policies</a><br>
        <hr><br>
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>