{% extends "base.html" %}
{% block title %}Payments Self-Service{% endblock %}
{% block content %}
<div class="sec1">
    <h1>Payments history</h1>
    <p>Below are a list of your past payments. If you pay through Zelle, please allow 1-2 business days for me to record your payment</p>
    <hr>
    <div id="payments-container"></div>

    <script>
        async function loadPayments() {
            try {
                const response = await fetch("{{ url_for('payments.fetch_record') }}");
                if (!response.ok) {throw new Error('Server error:  ${response.status})')}
                const items = await response.json()

                const container = document.getElementById('payments-container')
                items.forEach(paymentInfo => {
                    console.log(Object.entries(paymentInfo))
                    const entry = document.createElement('p')
                    entry.innerText = Object.entries(paymentInfo) // one day you can make this look better
                    container.appendChild(entry)
                })
            } catch (err) {
                const error_msg = document.createElement('p')
                error_msg.innerText = "Something went wrong: ${err}"
                document.getElementById('payments-container').appendChild(error_msg)
            }
        }

        loadPayments()
    </script>
</div>
{% endblock %}