{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="sec1">
    <form method="POST">
        {{ form.hidden_tag() }}
        <h1>Register</h1>
        <label for="email">Email:</label>{{ form.email }}
        <label for="password">Password:</label>{{ form.password }}
        <label for="confirm_password">Confirm Password:</label>{{ form.confirm_password}}
        {{ form.submit }}
    </form><br>
    <label for="error">{{ error }}</label>
    <a href="{{url_for('auth.resend_code')}}">Resend Code</a>
</div>
{% endblock %}