{% extends "base.html" %}
{% block title %}Student Portal{% endblock %}
{% block content %}
<div class="sec1">
    <h1>Hello {{ student.name }}!</h1>
    <hr>
    {% if scheduled_lessons | length != 0 %}
    <h2>This week's lessons (lessons are scheduled at the beginning of each week)</h2>
    <p>Note: If you need to reschedule a lesson, please contact Ethan directly.</p>
    {% for lesson in scheduled_lessons %}
        <div>
            <p>Lesson ID: {{ lesson.id }}</p>
            <p>Scheduled Date: {{ lesson.lesson_date }}</p>
            <p>Scheduled Time (PST): {{ lesson.scheduled_time_pst }}</p>
            <p>Meeting Link: <a href="{{ student.meeting_link }}" target="_blank">{{ lesson.meeting_link }}</a></p>
        </div>
        <hr>
    {% endfor %}
    <hr>
    {% endif %}
</div>

<div class="sec2">
    <h2>Payment Manager</h2>
    <p>Pay for lessons or check past payments in our payments portal:
        <a href="{{ url_for('payments.portal') }}">Payments portal</a></p>
    <hr>
</div>

<div class="sec3">
    <h2>Lesson History</h2>
    {% for lesson in past_lessons %}
        <div>
            <p>Lesson ID: {{ lesson.id }}</p>
            <p>Scheduled Date: {{ lesson.scheduled_date }}</p>
            <p>Scheduled Time (PST): {{ lesson.scheduled_time_pst }}</p>
            <p>Meeting Link: <a href="{{ lesson.meeting_link }}" target="_blank">{{ lesson.meeting_link }}</a></p>
            <p>Post Lesson Notes: {{ lesson.post_lesson_notes }}</p>
        </div>
        <hr>
    {% endfor %}
</div>
{% endblock %}